.slider_bg_1 {
  background-image: url(../img/banner/SR_mecor_7576.jpg); }

.slider_bg_2 {
  background-image: url(../img/banner/amr-team.jpg); }

.slider_bg_3 {
  background-image: url(../img/banner/SR_mecor_7770.jpg); }

.slider_bg_4 {
  background-image: url(../img/banner/pixelbots-banner.jpg); }
