# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: AMR Lab
description: >- # this means to ignore newlines until "baseurl:"
  We are the Autonomus Multi-Robots Lab, at TU Delft. We are interested in the development 
  of algorithms for autonomous robots that can operate in complex and dynamic environments, 
  and in the application of these algorithms to real-world problems.

contact_email: "J.AlonsoMora@tudelft.nl"
author: Javier Alonso-Mora

# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: "/website" # the subpath of your site, e.g. /blog
url: "http://tud-amr.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics:

permalink: /:year/:month/:day/:title/

# Collections. Output true if you want to generate pages for the items in the collection, false if not.
collections:
  people:
    output: false
    permalink: /:collection/:name
  robots:
    output: false
    permalink: /:collection/:name
  news:
    output: false
    permalink: /:collection/:name
  research_areas:
    output: false
    permalink: /:collection/:name
  projects:
    output: true
    permalink: /:collection/:name
  msc_projects_finished:
    output: true
    permalink: /:collection/:name
  msc_projects_available:
    output: true
    permalink: /:collection/:name

# defaults
defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "default"
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "projects" # a collection in your site, in plural form
    values:
      layout: "project"
  -
    scope:
      path: ""
      type: "msc_projects_finished" # a collection in your site, in plural form
    values:
      layout: "paper"
      usemathjax: true
  -
    scope:
      path: ""
      type: "msc_projects_available" # a collection in your site, in plural form
    values:
      layout: "page"
      usemathjax: true


# Build settings (theme is null as we use our own theme)

theme: null
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
