---
layout: default
---

<!-- <div class="row main-logo justify-content-center">
    <div class="col-lg-6">
    <img src="/assets/images/aml_logo_color.png" class="d-block img-fluid" alt="amr logo">
    </div>
</div> -->

<div class="row flex-lg-row align-items-center g-4 pt-2 pb-3">
    <div class="col-lg-5">
        <!-- <img src="/assets/images/aml_logo_color.png" class="d-block mx-lg-auto img-fluid mb-3" alt="amr logo" loading="lazy"> -->
        <img src="{{ '/assets/images/cover_pic_4x3.jpg' | relative_url}}" class="d-block mx-lg-auto img-fluid" alt="amr logo" loading="lazy">
    </div>
    <div class="col-lg-7">
        <div class="mt-0">
            <h3>
                We are the <b class="amr-color">Autonomous Multi-Robots Lab</b>!
            </h3>
            <p>
                Our main research interests are in navigation, motion planning, learning, and control of autonomous
                mobile
                robots, and teams thereof, that interact with other robots and humans in dynamic and uncertain
                environments.
            </p>
            <p>
                We contribute novel methods and solutions in the areas of motion planning, dynamic vehicle routing,
                multi-robot coordination, multi-robot learning, task assignment, active perception, formation
                control, collision avoidance and human-swarm interaction.
                Building towards the smart industries and cities of the future, we apply these techniques in various fields, including
                autonomous cars, automated factories, aerial vehicles, autonomous vessels, mobile manipulation and intelligent transportation systems with
                ride-sharing.
            </p>
            <p>
                You can also read more about some of our research in this <a
                    href="https://www.tudelft.nl/en/stories/articles/obstacles-no-problem-for-smart-robots">TU Delft
                    story</a>.
            </p>
        </div>
    </div>
</div>
<hr>
<div class="div highlights">
    {% assign youtube_entry = site.data.socials | where: 'name', "Youtube" | last %}
    {% assign github_entry = site.data.socials | where: 'name', "Github" | last %}
    <div class="row flex-lg-row align-items-center g-3 py-3">
        <div class="col-lg-4">
            <h1>Research</h1>
            <p>
                Our group's research is applied mainly to the following fields:
            </p>

            <div class="area_idex mb-3">
                {% for research_area in site.research_areas %}
                {% if forloop.first == false %}<br>{% endif %}- <a href="{{ '/research' | relative_url }}#{{ research_area.title }}" class="">{{ research_area.title }}</a>
                {% endfor %}
            </div>

            <p>
                Check our Youtube Playlist to see the latest videos of demos and papers!. You can also go directly to our <a
                    href="{{ github_entry.url }}"> GitHub</a>.
            </p>
            <div class="d-grid gap-2 d-flex justify-content-lg-start justify-content-center">
                <a href="{{ youtube_entry.url }}"><button type="button" class="btn btn-primary rounded-5 btn-lg px-4 me-md-2">Youtube</button></a>
                <a href="{{ '/research' | relative_url }}"><button type="button" class="btn btn-primary rounded-5 btn-lg px-4 me-md-2">All Research</button></a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLOksz-MTFhN2T4gYQlLHR2lGCdC0BDkJw&autoplay=0&mute=1&rel=0" allowfullscreen></iframe>
                <!-- <iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLOksz-MTFhN2T4gYQlLHR2lGCdC0BDkJw&" allowfullscreen></iframe> -->
            </div>
        </div>
    </div>

</div>

<!-- The news, as a list of the first "how_many_news" items. After a "click more news" link shows a collapse that contains all the remaining news -->
<hr>
<div class="div news mt-4">
    <h1>Latest News</h1>
    {% assign how_many_news = 4 %}

    <div class="row">
        <div class="col">
            <ul class="timeline">
                {% assign news = site.news | sort: 'date' | reverse %}
                {% for new in news limit:how_many_news%}
                <li>
                    <!-- <a href="{{ new.url }}">{{ new.title }}</a> -->
                    <span class="fw-bold" >{{ new.title }}</span>
                    <span class="text-body-secondary"> | {{ new.date | date: "%b %Y" }}</span>
                    {{ new.content }}
                </li>
                {% endfor %}

                <a class="" data-bs-toggle="collapse" href="#collapseNews" role="button" aria-expanded="false" aria-controls="collapseNews">
                    <i class="bi bi-chevron-right"></i> All the news...
                </a>

                {% for new in news offset:how_many_news %}
                <li class="collapse" id="collapseNews">
                    <!-- <a href="{{ new.url }}">{{ new.title }}</a> -->
                    <span class="fw-bold" >{{ new.title }}</span>
                    <span class="text-body-secondary"> | {{ new.date | date: "%b %Y" }}</span>
                    {{ new.content }}
                </li>
                {% endfor %}
                </button>

            </ul>
        </div>
    </div>
</div>
