---
title: Publications
permalink: /publications/
---

{% assign publications_sorted = site.data.publications | sort: 'date' | reverse %}

<!-- We loop over the entries in the data/publications file and display the publications -->
<div class="row justify-content-">
    <div class="input-group mb-3">
        <input type="text" class="form-control w-auto" placeholder="Search publications: author, title, ..." id="search-input">
        <select class="form-select" id="year-select" style="width: 50;">
            <option value="">All Years</option>
            {% for publication in publications_sorted %}
                {% assign currDate = publication.date | date: "%Y" %}
                {% if currDate != date %}
                    <option value="{{ currDate }}">{{ currDate }}</option>
                    {% assign date = currDate %}
                {% endif %}
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="button" id="search-button"><i class="bi bi-search"></i></button>
    </div>
</div>

<div class="publication-container" id="publication-container">
    {% assign counter = publications_sorted | size %}
    {% assign j_counter = publications_sorted | where: 'type',"journal" | size %}
    {% assign c_counter = publications_sorted | where: 'type',"conference" | size %}
    {% assign w_counter = publications_sorted | where: 'type',"workshop" | size %}
    {% assign t_counter = publications_sorted | where: 'type',"thesis" | size %}
    {% assign o_counter = publications_sorted | where: 'type',"other" | size %}

    <!-- Create year titles for each distinct year in the publication dates -->
    {% for publication in publications_sorted %}
    {% assign currDate = publication.date | date: "%Y" %}
    {% if currDate != date %}
    <h3 class="archive-year border-bottom">{{ currDate }}</h3>
    {% assign date = currDate %}
    {% endif %}

    <!-- Counting for each type journal, conference, workshop, thesis, other -->
    {% assign counter = counter | minus: 1 %}
    {% if publication.type == "journal" %}
        {% capture counter_to_show %}J{{ j_counter }}{% endcapture %}
        {% assign j_counter = j_counter | minus: 1 %}
    {% elsif publication.type == "conference" %}
        {% capture counter_to_show %}C{{ c_counter }}{% endcapture %}
        {% assign c_counter = c_counter | minus: 1 %}
    {% elsif publication.type == "workshop" %}
        {% capture counter_to_show %}W{{ w_counter }}{% endcapture %}
        {% assign w_counter = w_counter | minus: 1 %}
    {% elsif publication.type == "thesis" %}
        {% capture counter_to_show %}T{{ t_counter }}{% endcapture %}
        {% assign t_counter = t_counter | minus: 1 %}
    {% else %}
        {% capture counter_to_show %}O{{ o_counter }}{% endcapture %}
        {% assign o_counter = o_counter | minus: 1 %}
    {% endif %}

    <!-- Add the publication item. id is unique for the abstract collapse callback. show_id is the thing to show before the title -->
    <div class="publication-item">
        {% include publication_item.html publication=publication id=counter show_id=counter_to_show %}
    </div>

    {% endfor %}

</div>

<div class="patents">
    <h1>Patents</h1>
    <div class="patents-list">
        <span class="amr-color fw-bold">P07. </span><span>Compact omnidirectional vision sensor, US patent, 2014, led.</span><br>
        <span class="amr-color fw-bold">P06. </span><span> Shared control of autonomous vehicles, US patent, 2014, led.</span><br>
        <span class="amr-color fw-bold">P05. </span><span> Automated charging for aerial vehicles, US patent, 2014, led.</span><br>
        <span class="amr-color fw-bold">P04. </span><span> Omnidirectional Spherical Blimp, International patent, 2012, led.</span><br>
        <span class="amr-color fw-bold">P03. </span><span> Robotic Textures, US patent, 2012, led.</span><br>
        <span class="amr-color fw-bold">P02. </span><span> Display with robotic pixels - divisorial, US patent, 2011, led.</span><br>
        <span class="amr-color fw-bold">P01. </span><span> Display with robotic pixels, US patent 8723872.</span><br>
    </div>
</div>

<!-- Search script. Just manages the visibility of the publications items depending on the search. probably very inefficient but works directly with the html  -->
<script>
    var searchInput = document.getElementById('search-input');
    var searchButton = document.getElementById('search-button');
    var yearSelect = document.getElementById('year-select');

    // Trigger search when Enter key is pressed
    searchInput.addEventListener('keyup', function(event) {
        if (event.key === 'Enter') {
            searchButton.click();
        }
    });
    // Trigger search when year is changed
    yearSelect.addEventListener('change', function () {
            searchButton.click();
    });

    searchButton.addEventListener('click', function () {
        var searchValue = searchInput.value.toLowerCase();
        var yearValue = document.getElementById('year-select').value;
        var publicationItems = document.getElementsByClassName('publication-item');
        var archiveYears = document.getElementsByClassName('archive-year');

        for (var i = 0; i < publicationItems.length; i++) {
            var publicationTitle = publicationItems[i].querySelector('.publication-title').textContent.toLowerCase();
            var publicationAuthor = publicationItems[i].querySelector('.author-names').textContent.toLowerCase();
            var publicationVenue = publicationItems[i].querySelector('.publication-venue').textContent.toLowerCase();
            var publicationYear = publicationItems[i].querySelector('.publication-date').textContent.toLowerCase();

            if ((publicationTitle.includes(searchValue) || publicationAuthor.includes(searchValue) || publicationVenue.includes(searchValue) || publicationYear.includes(searchValue)) &&
                (yearValue === "" || publicationYear.includes(yearValue))) {
                publicationItems[i].style.display = "block";
            } else {
                publicationItems[i].style.display = "none";
            }
        }

        for (var j = 0; j < archiveYears.length; j++) {
            var year = archiveYears[j].textContent.trim();
            // var yearItems = document.querySelectorAll('.publication-item .publication-date');
            var yearItems = document.getElementsByClassName('publication-date');
            console.log(year);
            var showYear = false;
            for (var k = 0; k < yearItems.length; k++) {
                var itemYear = yearItems[k].textContent.trim();
                console.log(itemYear);
                if (itemYear.includes(year) && publicationItems[k].style.display !== "none") {
                    showYear = true;
                    break;
                }
            }

            if (showYear) {
                archiveYears[j].style.display = "block";
            } else {
                archiveYears[j].style.display = "none";
            }
        }
    });
</script>
