---
title: Research
permalink: /research/
---

<!-- We loop over the research areas and add a button for each area that is a hyperlink to the corresponding h2 -->
<div class="area_idex d-inline-block mb-3">
    {% for research_area in site.research_areas %}
    <a href="#{{ research_area.title }}" class="btn btn-dark rounded-3 mr-3 mb-3 btn-sm">{{ research_area.title }}</a>
    {% endfor %}
</div>

<!-- We loop over research areas, then within each research area we loop over projects that belong the current area -->

{% assign projects_sorted = site.projects | sort: 'date' | reverse %}
{% for research_area in site.research_areas %}

<div class="div research-area mt-1">
    {% include research_area_card.html area=research_area %}

    <div class="projects">
        {% for project in projects_sorted %}
        {% for area in project.belongs_to_areas %}
        {% if area == research_area.area_id %}
        <div class="project-item">
            {% include project_vcard.html project=project %}
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endfor %}
