---
title: Our Robots and Installations
permalink: /robots/
images_carousel:
- image_path: /assets/images/robots/new_lab_pic_3.png
- image_path: /assets/images/robots/new_lab_pic_1.png
- image_path: /assets/images/robots/new_lab_pic_4.png
---

<h2>The Lab</h2>
<p>
    The new lab, Mobile Robotics Lab, at CoR is located at the ground floor in the F-wing of the Mechanical Engineering building at TU Delft.
</p>

<div class="lab-div mb-3 d-flex justify-content-center bg-dark rounded">
    <div class="col-lg-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for image in page.images_carousel %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for image in page.images_carousel %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{% include fix_link.html link=image.image_path %}" class="w-100" alt="Image of the lab">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</div>

<p>
    The Mobile Robotics Lab is a state-of-the-art facility designed to push the boundaries of robotics research and development. The lab consist of a 13x7 m aerial 
    and terrestrial robot arena, and a lot of robots. The arena is equipped with a Vicon motion tracking system, a cutting-edge technology that can track objects with sub-millimeter accuracy. 
    This high-precision system allows us to monitor and analyze the intricate movements of robots and other objects, providing valuable data for our research. 
    In addition, the lab also consists of a high-end video recording system. This advanced setup enables us to capture high-quality videos, including slow-motion footage of fast-moving objects.
    The combination of top-tier technology and innovative research makes the lab a leading hub for cognitive robotics.
</p>

<h2>Robots</h2>
{% assign robots_sorted = site.robots | sort: 'type' %}
<div class="robots-div mb-3">
    {% for robot in robots_sorted %}

    <!-- We create dividers for each type of robot -->
    {% if robot.type != type %}
    {% assign type = robot.type %}
    <h3 class="text-capitalize">{{ type }}s</h3>
    {% endif %}

    <div class="robot-item">
        {% include robot_vcard.html robot=robot %}
    </div>
    {% endfor %}
</div>
</div>
