 <!-- This basically puts images in a grid. row-cols-md-X, where X means how many columns. md means until the screen is smaller than medium (ipad). Change X for 2,3,4,6,8,12 -->
 <div class="image-grid text-center mb-2">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-{{ include.n_columns }} g-2">
        {% for image in include.images %}
        <div class="col">
            {% if image contains '.mp4' %}
            <video src="{% include fix_link.html link=image %}" class="img-fluid object-fit-contain" alt="robot video" controls muted loop></video>
            {% else %}
            <img class="img-fluid object-fit-contain" src="{% include fix_link.html link=image %}" alt="Image {{ forloop.index0 }}">
            {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>