<div class="row g-0 border overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col-md-auto d-flex justify-content-center align-items-center">
        <img src="{% include fix_link.html link=include.project.cover_image %}" class="object-fit-contain" width="250 " height="250" alt="project image">
    </div>
    <div class="col-md p-2 ps-md-3 d-flex flex-column position-static">
        <!-- <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong> -->
        <h3 class="mb-1 fs-5">{{ include.project.title }}</h3>
        <div class="mb-1 text-body-secondary small">
            <!-- add names of authors -->
            {% for person in include.project.authors %}
            {{ person.name }}  {% if forloop.last == false %} , {% endif %}
            {% endfor %}
            | {{ include.project.end_date | date: "%B %Y" }}
        </div>
        <p class="mb-auto">{{ include.project.description }}</p>
        <a href="{{ include.project.url | relative_url }}" class="icon-link gap-1 icon-link-hover stretched-link text-decoration-none">
            See the results! <i class="bi bi-arrow-right"></i>
        </a>
    </div>
</div>