<div class="row mb-2">
    <div class="col {% if include.publication.image %} me-2 {% endif %} pb-0">
        <p class="mb-1">
            {% if include.show_id %}
            <span class="fw-bold amr-color publication-id">{{ include.show_id }}. </span>
            {% endif %}
            <span class="fw-bold publication-title">{{ include.publication.title }}</span>
            <br>
            <span class="author-names">
                {% for author in include.publication.authors %}
                {% if forloop.last %}
                {{ author }}.
                {% else %}
                {{ author }},
                {% endif %}
                {% endfor %}
            </span>
            <span class="publication-venue"> In {{ include.publication.venue }}, </span>
            <span class="publication-date">{{ include.publication.date | date: "%Y" }}. </span>
            {% if include.publication.note %}
            <span class="text-body-tertiary publication-note">{{ include.publication.note }}.</span>
            {% endif %}
        </p>
        {% if include.publication.links %}
        <div class="d-flex justify-content-start gap-2">
            {% if include.publication.abstract %}
            <a class="btn btn-sm btn-light" data-bs-toggle="collapse" href="#collapseAbstract{{ include.id }}"
                role="button" aria-expanded="false" aria-controls="collapseAbstract{{ include.id }}"><i
                    class="bi bi-chevron-right"></i> abstract</a>
            {% endif %}
            {% for link_hash in include.publication.links %}
            {% for link in link_hash %}
            {% capture link_text %}{{ link[1] }}{% endcapture %}
            <a href="{% include fix_link.html link=link_text %}" target="_blank" class="btn btn-sm btn-light">{{ link[0]
                }}</a>
            {% endfor %}
            {% endfor %}
        </div>
        {% if include.publication.abstract %}
        <div class="collapse mt-2" id="collapseAbstract{{ include.id }}">
            <div class="card card-body text-bg-light">
                {{ include.publication.abstract }}
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% if include.publication.image %}
    <div class="col-auto d-none d-sm-block">
        {% if include.publication.image contains '.mp4' %}
        <video src="{% include fix_link.html link=include.publication.image %}" class="object-fit-contain" height="110" alt="paper video" muted autoplay loop></video>
        {% else %}
        <img class="object-fit-contain" height="85" src="{% include fix_link.html link=include.publication.image %}" alt="paper image">
        {% endif %}
    </div>
    {% endif %}
</div>
