<!-- <div class="row g-0 overflow-hidden flex-md-row mb-3 h-md-250 position-relative">
    <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
        </svg>
    </div>
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
        <h2 class="mb-0">{{ include.area.title }}</h2>
        <div class="mb-1 text-body-secondary">tag 1 | tag 2 | tag 3</div>
        <p class="mb-auto">{{ include.area.content }}</p>
    </div>
</div> -->

<div class="row g-0 overflow-hidden flex-md-row mb-0 h-md-250 position-relative">
    <!-- <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong> -->
    <h2 id="{{ include.area.title }}" class="mb-0">{{ include.area.title }}</h2>
    <div class="mb-1 text-body-secondary">{{ include.area.subtitle }}</div>
    <!-- <p class="mb-auto">{{ research_area.content }}</p> -->
    <p class="mb-1">{{ include.area.content }}</p>
</div>
