<div class="row g-0 border overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
    <div class="col-md-auto d-flex justify-content-center py-2 py-md-0">
        {% if include.robot.image contains '.mp4' %}
        <video src="{% include fix_link.html link=include.robot.image %}" class="object-fit-contain" width="300" alt="robot video" muted autoplay loop></video>
        {% else %}
        <img src="{% include fix_link.html link=include.robot.image %}" class="object-fit-contain" width="300" alt="robot image">
        {% endif %}
    </div>
    <div class="col-md p-2 ps-md-3 d-flex flex-column position-static">
        <!-- <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong> -->
        <h3 class="mb-1 fs-5">{{ include.robot.name }}</h3>
        <div class="mb-1 text-body-secondary small">
            {{ include.robot.subtitle }}
        </div>
        <div class="mb-auto">{{ include.robot.content | markdownify | remove: '<p>' | remove: '</p>' }}</div>
        <!-- <a href="{{ include.robot.url | relative_url }}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading <i class="bi bi-chevron-right"></i>
        </a> -->
    </div>
</div>