---
---

body {
    font-family: 'Poppins', sans-serif;
}

.page-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar-name {
    color: #D107A9;
    font-weight: 700;
    font-size: xx-large;
}

.amr-color {
    color: #D107A9;
}

.nav-link.active {
    font-weight: 600;
}

a {
    color: #D107A9;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #efa5e0;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #D107A9;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.paper-body {
    h2 {
        margin-top: 45px;
        margin-bottom: 10px;
    }
    h3 {
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

h2 {
    margin-top: 30px;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #D107A9;
}

::selection {
    color: white;
    background: #D107A9;
}

.video-wrapper {
    margin-bottom: 20px; /* Adjust this value to increase or decrease the space between videos */
}
.ratio-16x9 {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
}
.ratio-16x9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
// Overflow of cards:
.right-column {
    max-height: 250px; /* Adjust this value as needed */
    overflow: hidden;
}

.right-column .text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Allows wrapping within the box */
}