---
layout: default
---
<div class="d-flex justify-content-center align-items-center px-1 px-lg-5 mt-3 mt-lg-5 ">
    <h1 class="text-capitalize text-center">{{ page.title }}</h1>
</div>

<!-- now we loop over the authors of the paper (page.authors) and display them with the corresponding superscript -->
<div class="d-flex flex-wrap justify-content-center align-items-center px-1 px-lg-5 mt-2 mt-lg-3">
    {% for author in page.authors %}
    {% if author.url %}
        <a href="{{ author.url }}" class="text-decoration-none me-3 fs-5">{{ author.name }}<sup>{{ author.superscript }}</sup></a>
    {% else %} 
        <span class="me-3 fs-5 amr-color">{{ author.name }}<sup>{{ author.superscript }}</sup></span>
    {% endif %}
    {% endfor %}
</div>
<!-- Now we loop over the affiliations or whatever the superscript means -->
<div class="d-flex flex-wrap justify-content-center align-items-center px-1 px-lg-5 mt-2 mt-lg-3">
    {% for affiliation in page.affiliations %}
    {% if affiliation.url %}
        <a href="{{ affiliation.url }}" class="text-body-secondary text-decoration-none me-3 fs-6"><sup>{{ affiliation.superscript }}</sup>{{ affiliation.name }}</a>
    {% else %}
        <span class="text-body-secondary me-3 fs-6"><sup>{{ affiliation.superscript }}</sup>{{ affiliation.name }}</span>
    {% endif %}
    {% endfor %}
</div>

<!-- now we loop over the external links and display them each in a rounded dark button with the corresponding icon in front -->
<div class="d-flex flex-wrap justify-content-center align-items-center px-1 px-lg-5 mt-2 mt-lg-3">
    {% for link in page.links %}
    <a href="{{ link.url }}" class="btn btn-dark rounded-pill me-3 mb-2">
        {% if link.icon %}
        <i class="bi {{ link.icon }}"> </i>
        {% endif %}
        {{ link.name }}
    </a>
    {% endfor %}
</div>


<div class="paper-body mt-5 px-0 px-lg-5">
    {{page.content}}

    <hr>

    <!-- Add related publications if related_project_id is defined -->
    {% if page.related_project_id %}
    <div class="publication-of-project mt-4">
    <h2 id="related-publications">Related Publications</h2>
    {% assign publications_sorted = site.data.publications | sort: 'year' %}
    {% assign counter = 1 %}
    {% for publication in publications_sorted %}

    {% if publication.belongs_to_projects %}
    {% for projects in publication.belongs_to_projects %}
    {% for project in projects %}

    {% if project == page.related_project_id or page.related_project_id contains project %}
    <div class="publication-item">
        {% include publication_item.html publication=publication id=counter %}
    </div>
    {% endif %}

    {% endfor %}
    {% endfor %}
    {% endif %}
    {% assign counter = counter | plus: 1 %}
    {% endfor %}

    </div>
    <hr>
    {% endif %}

    <div class="d-flex justify-content-center mt-5">
    <a href="{% link publications.html %}" class="btn btn-dark rounded-pill"><i class="bi bi-arrow-left"></i> Back to Publications</a>
    </div>
</div>